/*
  ========================================
  Commun Content
  ========================================
*/
body {
    background-image: url("img/Montreal.jpg");
    background-position-x: 100%;
    background-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-family: proxima nova;
    background-repeat: no-repeat;
    background-color: rgb(85, 190, 220)
}

/*
  ========================================
  index page
  ========================================
*/
.index {
    background-image: url("img/Montreal1.jpg");
}
.quickpres {
    text-align: center;
    margin-top: 100px;
}
.skills {
	position: relative;
    /* background: white; */
    font-size: 25px;
    color: white;
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 10px;
    border-radius: .4em;
    text-shadow: 0px 0px 2px black
}

.title {
    font-size: 25px;
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
    text-shadow: 0px 0px 1px black
}

.quote {
    font-size: 25px;
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-style: italic;
    background: rgba(0, 0, 0, 0.9);
    border-radius: 10px;
    margin-top: 20%;
}

/*
  ========================================
  whoamI page
  ========================================
*/
#me {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    height: auto;
    margin-top: 80px
}

.aboutme {
    text-align: left;
    color: white;
    font-weight: bold;
    text-shadow: 0px 0px 1px black;
    margin: 1% 15%;
    background-color: rgba(155,155,155,0.5);
    border-radius: 25px;
    word-wrap: break-word;
    font-size: 40px;
}

.aboutme h1{
    text-align: center;
    margin-bottom: 0;
    margin-top: 5px;
}
.aboutme p {
    padding-left: 3px;
    margin: 5px 5%;
    font-size: 25px;
    text-align: center
}
.bellowline {
    padding-bottom: 5px;
    border-bottom: 1px solid white
}

/*
  ========================================
  Projects page
  ========================================
*/

.proj {
    text-align: center;
    color: black;
    margin: 4% 15%;
    background-color: white;
    box-shadow: 0px 2px 10px black; 
    border-radius: 5px;
    word-wrap: break-word;
    padding-bottom: 10px;
    overflow-y: scroll;
    max-height: 600px;
}

section:first-child {
    margin-top: 0;
}

.proj h1{
    padding: 0 5%;
    text-align: center;
    margin-top: 1%;
    margin-bottom: 0%;
    margin-left: 0;
    margin-right: 0
}

.proj h3{
    padding: 0 10%;
    text-align: center;
    margin: 1% 0;
    font-weight: 1;
    font-style: italic;
    color: gray
}

.proj p {
    text-align: center;
    padding: 0 1%;
    margin-top: 0;
    margin-bottom: 5px;
    line-height: 18px;
    margin-left: 1%;
    margin-right: 1%;
}

.proj p:last-of-type {
    border-bottom: 1px solid black;
    margin-bottom: 1%;
}

.proj a {
    text-decoration: none;
    color: rgb(63, 81, 181);
    font-size: 20px;
    text-transform: uppercase;
    padding-top: 0.5%;
}

.proj a:hover  {
    background-color: rgba(206, 197, 197, 0.8);
    border-radius: 10px;
}

.proj img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
    background: black;
    padding: 0 0;
    border-radius: 5px 5px 0 0;
    max-height: 50em;
    border-bottom: 1px solid gray
}

.imgIll {
    position: relative;
    width: inherit;
    height: 400px;
    max-height: 50em;
}

#flashpoint {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/4/42/FlashPointGameInProgress.jpg/800px-FlashPointGameInProgress.jpg");
}

#database {
    background-image: url(img/database.jpg);
    background-position-y: -800px; 
    background-position-x: -400px;
}

#gravity {
    background-image: url(img/gravity.png);
    background-position-x: 50%; 
}

#crawler {
    background-image: url(img/dongeonCrawler.png);
    background-position-x: 50%; 
    background-position-y: 600px
}

.proj.p3 img {
    max-height: 500px
}

.proj.p4 {
    margin-top: 100px;
}

/*
  ========================================
  Navigation
  ========================================
  */
  header {
      background-color:white;
      /* background: linear-gradient(pink, white); */
      padding: 1% 0;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      z-index: -1;
  }

  .mainNav {
    text-align: center
}

.mainNav a {
    text-decoration: none;
    color: black;
    padding-left: 1%;
    padding-right: 1%;
    font-weight: bold;
    font-size: 13px;
}

.mainNav a:hover {
    opacity: 0.5;
}

.mainNav .myName{
    font-size: 20px;
    padding-top: 0.5%;
    border-top: 2px solid black;
}

/*
  ========================================
  contact me
  ========================================
*/
.contact {
    background-image: url("img/Montreal.jpg");
}

.contact-me {
    margin: auto;
    margin-top: 20%;
    height: 50%;
    padding: 10px;
    text-align: center;
    border-radius: 10px
}
.contact-me a img {
    width: 10%;
    height: auto;
    padding: 0 5%;
    border: 0;
}

.contact-me a img:hover {
    opacity: 0.7;
}

.contact-me a {
    text-decoration: none;
}